---
import type { Finalist } from "~/types/editions";

interface Props {
  finalist: Finalist;
  edition: number;
  position: number;
}

const { finalist, edition, position } = Astro.props;
---

<article class="flex flex-col gap-4 relative">
  <span
    class="absolute top-0 left-8 bg-white text-black rounded-b-lg px-4 py-2 text-xl font-medium flex justify-center items-center"
    >{position}ยบ</span
  >
  <img
    src={`/images/editions/${edition}/palmares/desktop/${finalist.photo}.webp`}
    class="object-cover object-center rounded-lg"
    alt={finalist?.name}
  />
  <hgroup class="flex flex-col gap-2">
    <h3 class="text-xl font-bold tracking-tigh uppercase text-balance">
      {finalist.name}
    </h3>
    <p class="flex flex-col uppercase">
      <strong>comunidad: {finalist?.community}</strong>
      <strong>streamers: {finalist.streamers}</strong>
      <strong>total: {finalist.total}</strong>
    </p>
  </hgroup>
</article>
